.full-height {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "header" "body" "footer";
}

.full-height > .header {
    grid-area: header;
}

.full-height > .footer {
    grid-area: footer;
}

.tab-content > .full-height {
    margin-bottom: 7px;
    height: calc(100% - 7px);
}

.full-height .block {
    flex-shrink: 0;
}

.full-height > .scrolled-content {
    grid-area: body;
}

.full-height .loading-progress {
    height: 30px;
    line-height: 30px;
}
