.sprite-artifact.goblet.sprite-24 {
	background-image: url("../../images/sprites/artifacts_28c5e03bbf39e1b9c0f59529193c3414.png");
	background-size: 144px 264px;
}
.sprite-artifact.goblet.sprite-40 {
	background-image: url("../../images/sprites/artifacts_d11686790f7cd63c3449a8e7ee30e660.png");
	background-size: 240px 440px;
}
.sprite-artifact.goblet.sprite-60 {
	background-image: url("../../images/sprites/artifacts_27f80f5e147af171cf1f19e36ccdaaf5.png");
	background-size: 360px 660px;
}
.sprite.artifact-icon-unknown {background-position: 0% 0%}
.sprite.artifact-icon-resolution-of-sojourner.goblet {background-position: 20% 0%}
.sprite.artifact-icon-brave-heart.goblet {background-position: 40% 0%}
.sprite.artifact-icon-defenders-will.goblet {background-position: 60% 0%}
.sprite.artifact-icon-tiny-miracle.goblet {background-position: 80% 0%}
.sprite.artifact-icon-berserker.goblet {background-position: 100% 0%}
.sprite.artifact-icon-martial-artist.goblet {background-position: 0% 10%}
.sprite.artifact-icon-instructor.goblet {background-position: 20% 10%}
.sprite.artifact-icon-gambler.goblet {background-position: 40% 10%}
.sprite.artifact-icon-the-exile.goblet {background-position: 60% 10%}
.sprite.artifact-icon-adventurer.goblet {background-position: 80% 10%}
.sprite.artifact-icon-lucky-dog.goblet {background-position: 100% 10%}
.sprite.artifact-icon-scholar.goblet {background-position: 0% 20%}
.sprite.artifact-icon-traveling-doctor.goblet {background-position: 20% 20%}
.sprite.artifact-icon-blizzard-strayer.goblet {background-position: 40% 20%}
.sprite.artifact-icon-thundersoother.goblet {background-position: 60% 20%}
.sprite.artifact-icon-lavawalker.goblet {background-position: 80% 20%}
.sprite.artifact-icon-maiden-beloved.goblet {background-position: 100% 20%}
.sprite.artifact-icon-gladiators-finale.goblet {background-position: 0% 30%}
.sprite.artifact-icon-viridescent-venerer.goblet {background-position: 20% 30%}
.sprite.artifact-icon-wanderers-troupe.goblet {background-position: 40% 30%}
.sprite.artifact-icon-thundering-fury.goblet {background-position: 60% 30%}
.sprite.artifact-icon-crimson-witch-of-flames.goblet {background-position: 80% 30%}
.sprite.artifact-icon-noblesse-oblige.goblet {background-position: 100% 30%}
.sprite.artifact-icon-bloodstained-chivalry.goblet {background-position: 0% 40%}
.sprite.artifact-icon-archaic-petra.goblet {background-position: 20% 40%}
.sprite.artifact-icon-retracing-bolide.goblet {background-position: 40% 40%}
.sprite.artifact-icon-heart-of-depth.goblet {background-position: 60% 40%}
.sprite.artifact-icon-tenacity-of-the-millelith.goblet {background-position: 80% 40%}
.sprite.artifact-icon-pale-flame.goblet {background-position: 100% 40%}
.sprite.artifact-icon-shimenawas-reminiscence.goblet {background-position: 0% 50%}
.sprite.artifact-icon-emblem-of-severed-fate.goblet {background-position: 20% 50%}
.sprite.artifact-icon-husk-of-opulent-dreams.goblet {background-position: 40% 50%}
.sprite.artifact-icon-ocean-hued-clam.goblet {background-position: 60% 50%}
.sprite.artifact-icon-vermillion-hereafter.goblet {background-position: 80% 50%}
.sprite.artifact-icon-echoes-of-an-offering.goblet {background-position: 100% 50%}
.sprite.artifact-icon-deepwood-memories.goblet {background-position: 0% 60%}
.sprite.artifact-icon-gilded-dreams.goblet {background-position: 20% 60%}
.sprite.artifact-icon-desert-pavilion-chronicle.goblet {background-position: 40% 60%}
.sprite.artifact-icon-flower-of-paradise-lost.goblet {background-position: 60% 60%}
.sprite.artifact-icon-nymphs-dream.goblet {background-position: 80% 60%}
.sprite.artifact-icon-vourukashas-glow.goblet {background-position: 100% 60%}
.sprite.artifact-icon-marechaussee-hunter.goblet {background-position: 0% 70%}
.sprite.artifact-icon-golden-troupe.goblet {background-position: 20% 70%}
.sprite.artifact-icon-song-of-days-past.goblet {background-position: 40% 70%}
.sprite.artifact-icon-nighttime-whispers-in-the-echoing-woods.goblet {background-position: 60% 70%}
.sprite.artifact-icon-fragment-of-harmonic-whimsy.goblet {background-position: 80% 70%}
.sprite.artifact-icon-unfinished-reverie.goblet {background-position: 100% 70%}
.sprite.artifact-icon-scroll-of-the-hero-of-cinder-city.goblet {background-position: 0% 80%}
.sprite.artifact-icon-obsidian-codex.goblet {background-position: 20% 80%}
.sprite.artifact-icon-long-nights-oath.goblet {background-position: 40% 80%}
.sprite.artifact-icon-finale-of-the-deep-galleries.goblet {background-position: 60% 80%}
.sprite.artifact-icon-night-of-the-skys-unveiling.goblet {background-position: 80% 80%}
.sprite.artifact-icon-silken-moons-serenade.goblet {background-position: 100% 80%}
.sprite.artifact-icon-aubade-of-morningstar-and-moon.goblet {background-position: 0% 90%}
.sprite.artifact-icon-a-day-carved-from-rising-winds.goblet {background-position: 20% 90%}
.sprite.artifact-icon-celestial-gift.goblet {background-position: 40% 90%}
.sprite.artifact-icon-disenchantment-in-deep-shadow.goblet {background-position: 60% 90%}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.sprite-artifact.goblet.sprite-24 {background-image: url("../../images/sprites/artifacts_94e73afa4e4816e15300c422a53cb776.png")}
	.sprite-artifact.goblet.sprite-40 {background-image: url("../../images/sprites/artifacts_c3488d5b47a8f369faeca740cd162919.png")}
	.sprite-artifact.goblet.sprite-60 {background-image: url("../../images/sprites/artifacts_d92e85728225cb944bd6dfec153eab6c.png")}
}
