.sprite-artifact.flower.sprite-24 {
	background-image: url("../../images/sprites/artifacts_7756f71303e96982d01a912981c983a9.png");
	background-size: 144px 264px;
}
.sprite-artifact.flower.sprite-40 {
	background-image: url("../../images/sprites/artifacts_247aeb3f1c0c38334cbfb88a212ed33c.png");
	background-size: 240px 440px;
}
.sprite-artifact.flower.sprite-60 {
	background-image: url("../../images/sprites/artifacts_917b3a57fc1be5e1034246610854fb8e.png");
	background-size: 360px 660px;
}
.sprite.artifact-icon-unknown {background-position: 0% 0%}
.sprite.artifact-icon-resolution-of-sojourner.flower {background-position: 20% 0%}
.sprite.artifact-icon-brave-heart.flower {background-position: 40% 0%}
.sprite.artifact-icon-defenders-will.flower {background-position: 60% 0%}
.sprite.artifact-icon-tiny-miracle.flower {background-position: 80% 0%}
.sprite.artifact-icon-berserker.flower {background-position: 100% 0%}
.sprite.artifact-icon-martial-artist.flower {background-position: 0% 10%}
.sprite.artifact-icon-instructor.flower {background-position: 20% 10%}
.sprite.artifact-icon-gambler.flower {background-position: 40% 10%}
.sprite.artifact-icon-the-exile.flower {background-position: 60% 10%}
.sprite.artifact-icon-adventurer.flower {background-position: 80% 10%}
.sprite.artifact-icon-lucky-dog.flower {background-position: 100% 10%}
.sprite.artifact-icon-scholar.flower {background-position: 0% 20%}
.sprite.artifact-icon-traveling-doctor.flower {background-position: 20% 20%}
.sprite.artifact-icon-blizzard-strayer.flower {background-position: 40% 20%}
.sprite.artifact-icon-thundersoother.flower {background-position: 60% 20%}
.sprite.artifact-icon-lavawalker.flower {background-position: 80% 20%}
.sprite.artifact-icon-maiden-beloved.flower {background-position: 100% 20%}
.sprite.artifact-icon-gladiators-finale.flower {background-position: 0% 30%}
.sprite.artifact-icon-viridescent-venerer.flower {background-position: 20% 30%}
.sprite.artifact-icon-wanderers-troupe.flower {background-position: 40% 30%}
.sprite.artifact-icon-thundering-fury.flower {background-position: 60% 30%}
.sprite.artifact-icon-crimson-witch-of-flames.flower {background-position: 80% 30%}
.sprite.artifact-icon-noblesse-oblige.flower {background-position: 100% 30%}
.sprite.artifact-icon-bloodstained-chivalry.flower {background-position: 0% 40%}
.sprite.artifact-icon-archaic-petra.flower {background-position: 20% 40%}
.sprite.artifact-icon-retracing-bolide.flower {background-position: 40% 40%}
.sprite.artifact-icon-heart-of-depth.flower {background-position: 60% 40%}
.sprite.artifact-icon-tenacity-of-the-millelith.flower {background-position: 80% 40%}
.sprite.artifact-icon-pale-flame.flower {background-position: 100% 40%}
.sprite.artifact-icon-shimenawas-reminiscence.flower {background-position: 0% 50%}
.sprite.artifact-icon-emblem-of-severed-fate.flower {background-position: 20% 50%}
.sprite.artifact-icon-husk-of-opulent-dreams.flower {background-position: 40% 50%}
.sprite.artifact-icon-ocean-hued-clam.flower {background-position: 60% 50%}
.sprite.artifact-icon-vermillion-hereafter.flower {background-position: 80% 50%}
.sprite.artifact-icon-echoes-of-an-offering.flower {background-position: 100% 50%}
.sprite.artifact-icon-deepwood-memories.flower {background-position: 0% 60%}
.sprite.artifact-icon-gilded-dreams.flower {background-position: 20% 60%}
.sprite.artifact-icon-desert-pavilion-chronicle.flower {background-position: 40% 60%}
.sprite.artifact-icon-flower-of-paradise-lost.flower {background-position: 60% 60%}
.sprite.artifact-icon-nymphs-dream.flower {background-position: 80% 60%}
.sprite.artifact-icon-vourukashas-glow.flower {background-position: 100% 60%}
.sprite.artifact-icon-marechaussee-hunter.flower {background-position: 0% 70%}
.sprite.artifact-icon-golden-troupe.flower {background-position: 20% 70%}
.sprite.artifact-icon-song-of-days-past.flower {background-position: 40% 70%}
.sprite.artifact-icon-nighttime-whispers-in-the-echoing-woods.flower {background-position: 60% 70%}
.sprite.artifact-icon-fragment-of-harmonic-whimsy.flower {background-position: 80% 70%}
.sprite.artifact-icon-unfinished-reverie.flower {background-position: 100% 70%}
.sprite.artifact-icon-scroll-of-the-hero-of-cinder-city.flower {background-position: 0% 80%}
.sprite.artifact-icon-obsidian-codex.flower {background-position: 20% 80%}
.sprite.artifact-icon-long-nights-oath.flower {background-position: 40% 80%}
.sprite.artifact-icon-finale-of-the-deep-galleries.flower {background-position: 60% 80%}
.sprite.artifact-icon-night-of-the-skys-unveiling.flower {background-position: 80% 80%}
.sprite.artifact-icon-silken-moons-serenade.flower {background-position: 100% 80%}
.sprite.artifact-icon-aubade-of-morningstar-and-moon.flower {background-position: 0% 90%}
.sprite.artifact-icon-a-day-carved-from-rising-winds.flower {background-position: 20% 90%}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.sprite-artifact.flower.sprite-24 {background-image: url("../../images/sprites/artifacts_d79ce160ff7d566c53dd283b679a7aef.png")}
	.sprite-artifact.flower.sprite-40 {background-image: url("../../images/sprites/artifacts_79f694287b1ed9f6e94ab02e1cbdb1cd.png")}
	.sprite-artifact.flower.sprite-60 {background-image: url("../../images/sprites/artifacts_7e8dd0d404b8138128e0625abe83746e.png")}
}
