.gi-hr {
    margin: 10px auto;
    width: calc(100% - 66px);
    height: 15px;
    background-image: url("../images/icons/line_arrow.png");
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0px -15px;
    position: relative;
}

.gi-hr:before {
    content: "";
    display: block;
    width: 33px;
    height: 15px;
    position: relative;
    left: -33px;
    background-image: url("../images/icons/line_arrow.png");
}

.gi-hr:after {
    content: "";
    display: block;
    width: 33px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: -33px;
    background-image: url("../images/icons/line_arrow.png");
    background-position: 33px 0px;
}

.gi-inputs-number-dark {
    font-family: Genshin;
    text-align: center;
    height: 26px;
    margin: auto;
    border-radius: 10px;
    background-color: #353D4F;
    border: solid 2px #626770;
    display: block;
    margin: 0px 4px;
    color: #FFF7E9;
    outline: none;
    box-sizing: border-box;
}

.gi-view-feature-control .gi-inputs-number-dark.gi-inputs-5digit {
    width: 70px;
}

.hidden {
    display: none !important;
}
