.gi-stats-tab .gi-tab-item-inner {
    background-image: url("../../../images/icons/tab_stats_light.png");
}
.gi-stats-tab.active .gi-tab-item-inner {
    background-color: #ECE5D8;
    background-image: url("../../../images/icons/tab_stats_dark.png");
}

.stats-table tr .icon > div {
    width: 20px;
    height: 20px;
    background-size: 100px 80px;
    background-repeat: no-repeat;
}

.stats-table .icon-hp {
    background-image: url("../../../images/icons/stat_icons.png");
}

.stats-table .icon-atk {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -20px 0px;
}
.stats-table .icon-def {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -40px 0px;
}
.stats-table .icon-mastery {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -60px 0px;
}
.stats-table .icon-recharge {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -40px -20px;
}
.stats-table .icon-crit_rate {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: 0px -20px;
}
.stats-table .icon-crit_dmg {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: 20px 0px;
}
.stats-table .icon-healing {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -20px -20px;
}
.stats-table .icon-healing_recv {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: 20px 0px;
}
.stats-table .icon-recovery {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -60px -20px;
}
.stats-table .icon-shield {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -80px -20px;
}
.stats-table .icon-dmg_anemo {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -80px -40px;
}
.stats-table .icon-dmg_cryo {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: 0px -60px;
}
.stats-table .icon-dmg_electro {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -60px -40px;
}
.stats-table .icon-dmg_geo {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -20px -60px;
}
.stats-table .icon-dmg_hydro {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -20px -40px;
}
.stats-table .icon-dmg_pyro {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: 0px -40px;
}
.stats-table .icon-dmg_phys {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -40px -60px;
}
.stats-table .icon-dmg_dendro {
    background-image: url("../../../images/icons/stat_icons.png");
    background-position: -40px -40px;
}
